/* svg-logo */
@font-face {
    font-family: Moloko;
    src: url(fonts/Moloko.ttf);
}
.logo {
	text-decoration: none;
	max-width: 20%;
}
.cls-1 {font-size: 1200.06px;
	font-family: Moloko, Moloko;
	letter-spacing:0.02em;
}
.cls-2 {fill: #fff;}
.cls-3{fill:#f97d38;}


.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}