	</div>

	<div id="footer" class="jumbotron jumbotron-fluid">
		<p class="lead m-3 text-center">
			© Гусь, 2019. Designed and developed by <a href="://github.com/kantegory">David Dobryakov</a>	
		</p>
	</div>
</body>
</html>
